
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 45%;
    min-width:300px;
}
.col-2 img{
    max-width: 80%;
    padding:50px 0;

}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 50px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding:8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:  0.5s;
}
.btn:hover{
    background-color: #563434;
}
.header {
    background: radial-gradient(#fff,#c9ff06);
}
.header .row{
margin-top:70px;
}
.categeries{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 80%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 15%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 100px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 130%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}


.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline:none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
} 
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}





.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
    width: 500%;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 50px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.small-img-col{
    width: 50%;
}


/*---------------------cart items---------------------*/








@media only screen  and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 150px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}







@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}
.single-product .row{
    text-align: left;
}
.single-product .col-2{
    padding: 20px 0;
}
.single-product h1{
    font-size: 26px;
    line-height: 22px;
}
.cart-info p{
    display: none;
}



@media screen and (max-width:1024px){
    .nav-links{
        width:80%;
    }

}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
       position:absolute;
       right:0px;
       height:90vh;
       top:10vh;
       background-color: #232323;
       display:flex;
       flex-direction: column;
       align-items: center;
       width:60%;
       transform:translateX(100%);
       transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    nav a{
        color:rgb(231, 216, 216);
    }
    nav a:hover{
        color:#f7f7f7;
        text-decoration: none;
    
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}